.super-mario {
    width: 200px;
    position: absolute;
    top: 120px;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 480px;
    left: 130px;
  }
  
  .baloon {
    position: absolute;
    top: 260px;
    left: 430px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 300px;
    left: 450px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 700px;
  }